@inherits LayoutComponentBase

<section class="my-5">
    <div class="container">
        <div class="row">
            <Profile></Profile>
            <div class="col-lg-8 offset-lg-1">
                @Body
            </div> 
        </div>
    </div>
</section>
<Footer></Footer>